body,
div,
button {
  font-size: 0.7rem !important;
}

.ag-grid-container {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

#jobSelect {
  width: 300px;
  font-size: 0.7rem;
}

::ng-deep .custom-ng-select .ng-select-container {
  background-color: #222 !important;
  color: #fff !important;

  border: 1px solid #888 !important;
  border-radius: 6px !important;

  /* padding 추가 시 내부 여백도 확보 */
  padding: 4px 8px;
}

::ng-deep .custom-ng-select .ng-dropdown-panel {
  background-color: #222 !important;
  color: #fff !important;
  border: 1px solid #666 !important;
}

::ng-deep .custom-ng-select .ng-option {
  background-color: #222;
  color: #fff;
  padding: 10px;
}

::ng-deep .custom-ng-select .ng-option-selected {
  background-color: #333 !important;
}

