<div
  class="modal fade show"
  id="messagePopup"
  style="display: block; background: transparent !important"
>
  <div class="modal-dialog" [ngStyle]="{ width: modalWidth + 'vw' }">
    <div class="modal-content">
      <div
        class="modal-header d-flex justify-content-between align-items-center"
      >
        <div class="d-flex justify-content-between align-items-center">
          <p class="modal-title pe-4">{{ title }}</p>
          <button
            type="button"
            class="btn btn-sm btn-outline-secondary"
            (click)="copy()"
          >
            {{ copyButtonTitle }}
          </button>
        </div>

        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="closePopup()"
        >
          닫기
        </button>
      </div>
      <div class="modal-body">
        <pre
          style="white-space: pre-wrap"
          [ngStyle]="{ height: modalHeight + 'vh' }"
          >{{ popupMessage }}</pre
        >
      </div>
    </div>
  </div>
</div>
