@if(popupMessage !== '') {
<div
  class="modal fade show"
  id="messagePopup"
  style="display: block; background: transparent !important"
>
  <div class="modal-dialog">
    <div class="modal-content" [ngStyle]="{ width: modalWidth + 'px' }">
      <div
        class="modal-header d-flex justify-content-between align-items-center"
      >
        <p class="modal-title">{{ title }}</p>
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="popupMessage = ''"
        >
          닫기
        </button>
      </div>
      <div class="modal-body">
        <pre
          style="white-space: pre-wrap"
          [ngStyle]="{ height: modalHeight + 'px' }"
          >{{ popupMessage }}</pre
        >
      </div>
    </div>
  </div>
</div>
}
